@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@charset "UTF-8";

.bgr {
  background: url("") no-repeat center center fixed;
  background-size: cover;
  height: 670px;
}

.bgr #mainmenu-area {
  background: none repeat scroll 0 0;
  font-family: "Dosis", sans-serif;
  width: 100%;
}

.bgr #mainmenu-area ul {
  list-style-type: none;
  text-align: center;
  width: 100%;
}

.bgr #mainmenu-area li {
  font-size: 18px;
  color: #f1f1f1;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
  position: relative;
}

.bgr #mainmenu-area li:hover {
  color: #F5D940;
  text-align: center;
}

.bgr #mainmenu-area li:hover .dropmenu {
  display: block;
}

.bgr #mainmenu-area a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.bgr #mainmenu-area a:hover {
  color: #F5D940;
}

#sticky {
  position: fixed;
  background: #F8F792;
  font-family: "Dosis", sans-serif;
  width: 100%;
}

.dropmenu {
  text-align: center;
  display: none;
  position: absolute;
  z-index: 999;
  padding-left: 0px;
}

.dropmenu ul {
  margin-left: 40px;
}

.dropmenu li {
  margin-left: 0 !important;
}

.dropmenu > ul {
  display: none !important;
}

/*-------book-------*/

.book {
  background: #F5D940;
  color: #F8F5F5;
  font-family: "Dosis", sans-serif;
  border-radius: 10px 10px 10px 10px;
}

.book p:hover {
  color: #4B2B2B;
}

/*-----footer----------*/

.footer {
  background: #2C2E3E;
  font-size: 15px;
}

.fixul {
  margin-top: 20px;
}

.fixul p {
  color: #FAF457;
}

.fixul i {
  font-size: 28px;
}

.fixul h3 {
  color: white;
  margin-bottom: 20px;
}

.fixul ul li {
  display: inline-block;
  width: 50px;
  height: 40px;
  line-height: 40px;
}

.fixul ul li i {
  color: #FAF457;
}

.fixul1 {
  margin-top: 20px;
}

.fixul1 h3 {
  text-align: left;
  color: white;
  margin-bottom: 20px;
}

.fixul1 p {
  color: #FAF457;
}

.fixul1 ul li {
  text-align: left;
  list-style-type: none;
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
}

.fixul1 ul li i {
  color: #FAF457;
}

.intro p {
  text-align: center;
  color: #FAF457;
}

.index {
  font-size: 15px;
  /*--------icon---------*/
  /*Khung chứa nội dung*/
  /* -----------------recent---------------*/
  /*----blog img---*/
  /*-----limit offer-------*/
  /*----------------recomend---------*/
  /*----------------------*/
  /*best food island*/
  /*-----hover img zoom---*/
}

.index .services .icon img {
  display: block;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
}

.index .services .icon img p {
  text-align: center;
}

.index h3 {
  color: #000;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  text-align: center;
}

.index p {
  font-family: "Dosis", sans-serif;
  margin: 0 0 10px;
  margin-bottom: 20px;
}

.index .star img {
  width: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.index .fix {
  background: #F4F5F6;
  margin-top: 30px;
}

.index .fix .star img {
  margin-top: 30px;
}

.index h2 {
  font-size: 34px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #000;
  position: relative;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  margin: 0 0 20px 0;
  display: block;
  text-align: center;
}

.index .fix p {
  margin-bottom: 10px;
  margin: 0 0 5px;
  display: block;
  text-align: center;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #595959;
  margin-bottom: 20px;
}

.index .block {
  width: 270px;
  height: 210px;
  position: relative;
  margin-left: 20px;
  /*Mặt trước chứa hình ảnh*/
  /*Mặt sau chứa tiêu đề và mô tả*/
}

.index .block .block-wrapper {
  width: 270px;
  height: 210px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.index .block .front-side {
  background: none;
  position: absolute;
  width: 270px;
  height: 180px;
  top: 0;
  left: 0;
  display: flex;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  z-index: 2;
}

.index .block .front-side img {
  width: 100%;
  height: auto;
}

.index .block .back-side {
  background: none;
  color: #fff;
  position: absolute;
  width: 250px;
  height: 210px;
  top: 10px;
  left: 0;
  padding: 20px;
  z-index: 1;
  box-sizing: border-box;
}

.index .block .back-side h1 {
  font-size: 18px;
  margin: 0;
  color: #F5D940;
  text-align: center;
}

.index .block p {
  margin: 0;
  color: #282222;
}

.index .block:hover .front-side {
  top: 100px;
  left: 0px;
}

.index .block .reverse .back-side {
  display: flex;
  flex-direction: column-reverse;
}

.index .block .reverse:hover .front-side {
  top: -80px;
  left: 0px;
}

.index .recent {
  margin-top: 30px;
}

.index .recent h2 {
  font-size: 34px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #000;
  position: relative;
  font-family: "Shadows Into Light", cursive;
  margin: 0 0 20px 0;
}

.index .recent p {
  margin-bottom: 20px;
  margin: 0 0 10px;
  text-align: center;
}

.index .img img {
  width: 364px;
  height: 400px;
  margin-bottom: 30px;
}

.index .blog {
  margin-bottom: 2.5em;
  display: block;
  position: relative;
  margin-top: 20px;
  text-decoration: none;
}

.index .blog .imga {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 90px;
  height: 90px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-width: 4px;
  border-style: solid;
  border-color: white;
  -o-border-image: initial;
     border-image: initial;
  border-radius: 50%;
  margin-left: 70px;
}

.index .blog .decs {
  margin-right: 10px;
}

.index .blog .decs h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 10px;
}

.index .blog .decs:hover {
  color: #FFDD00;
}

.index .date,
.index .cat {
  font-size: 13px;
  color: #333333;
  margin-left: 178px;
}

.index #intro {
  z-index: 0;
}

.index .intro-desc {
  z-index: 2;
  margin-top: 50px;
}

.index .text-salebox {
  display: table;
  width: 100%;
}

.index .text-salebox .text-lefts {
  text-align: left;
  display: table-cell;
  vertical-align: top;
}

.index .text-salebox .text-lefts .sale-box .sale-box-top {
  display: inline-block;
  position: relative;
}

.index .text-salebox .text-lefts .sale-box .number {
  font-weight: 700;
  font-size: 90px;
  margin: 0;
  line-height: 1;
  display: inline-block;
  color: #FFDD00;
}

.index .text-salebox .text-lefts .sale-box .sup-1 {
  font-size: 40px;
  position: absolute;
  top: 10px;
  left: 100%;
  display: block;
  line-height: 1;
  color: #FFDD00;
  font-weight: 700;
}

.index .text-salebox .text-lefts .sale-box .sup-2 {
  font-size: 36px;
  text-transform: uppercase;
  position: absolute;
  bottom: 8px;
  left: 100%;
  display: block;
  line-height: 1;
  font-weight: 700;
  color: #fff;
}

.index .text-salebox .text-lefts .sale-box .text-sale {
  font-size: 72px;
  color: #fff;
  text-transform: uppercase;
  line-height: 55px;
  margin: 0;
  font-weight: 700;
}

.index .text-salebox .text-rights {
  padding: 0 30px;
}

.index .text-salebox .text-rights p {
  color: #F9F3F3;
}

.index .text-salebox .text-rights h3 {
  color: #F9F3F3;
}

.index .text-salebox .text-rights .btn-primary {
  background: #FFDD00;
  color: #fff;
  border: 1px solid #FFDD00;
}

.index .text-salebox .text-rights .btn-outline {
  border: 1px solid #fff !important;
  color: #fff;
}

.index .text-salebox .text-rights .btn-outline:hover {
  background: #FFDD00;
}

.index .btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 30px;
  transition: 0.5s;
  padding: 8px 20px;
}

.index .video-wrap {
  z-index: 2;
}

.index .video-wrap .colorlib-video {
  height: 350px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-right: 0px;
  overflow: hidden;
}

.index .video {
  display: table;
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 20px 71px -12px rgba(0, 0, 0, 0.31);
}

.index .heading h2 {
  margin-top: 50px;
  font-size: 34px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #000;
  position: relative;
}

.index .slickimg img {
  width: 300px;
  height: 200px;
}

.index .fa {
  color: #F9F354;
  font-size: 10px;
  padding-left: 3px;
}

.index .wrap-img {
  border: 2px solid #F0E758;
}

.index .wrap-img p {
  padding-left: 6px;
}

.index .item {
  position: relative;
  width: 100%;
  text-align: center;
}

.index .item .img-user {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.index .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.index .row-pb-md {
  padding-bottom: 4em !important;
}

.index .f-tour {
  width: 100%;
  float: left;
}

.index .f-tour a {
  text-decoration: none;
}

.index .f-tour .f-tour-img {
  display: block;
  height: 210px;
  margin-bottom: 30px;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.index .f-tour .desc {
  padding-top: 160px;
  margin-left: 20px;
}

.index .f-tour .desc h3 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 0px;
  text-transform: uppercase;
  text-align: left;
}

.index .f-tour .desc .price small {
  color: #fff;
}

.index .f-tour .desc .price span {
  color: #FAF457;
}

.index .descr ul {
  list-style-type: none;
}

.index .descr li {
  padding-top: 10px;
}

.index .descr a {
  font-size: 16px;
}

.index .descr h3 {
  text-align: left;
  font-size: 40px;
}

.index .descr p {
  padding-top: 20px;
}

.index .descr .btn {
  background: #F5D940;
  border: none;
}

.index .descr .btn a {
  color: #FFFFFF;
}

.index .descr .btn:hover {
  background: #333;
}

.index .descri {
  padding-right: 40px;
}

.index .mySlides {
  text-align: center;
}

.index .mySlides img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.index .f-tour-img {
  transition: transform 0.2s;
}

.index .f-tour-img:hover {
  transform: scale(1.2);
  z-index: 1000;
}

.index .wrap-img {
  transition: transform 0.2s;
}

.index .wrap-img:hover {
  transform: scale(1.1);
  border: 2px solid #F7F942;
}

.rooms {
  margin-bottom: 50px;
}

.rooms p {
  margin-bottom: 30px;
  margin-top: -20px;
}

.rooms p b {
  font-size: 17px;
}

.rooms button {
  background: #1E90FF;
  width: 100px;
  height: 25px;
}

.rooms button a {
  color: white;
}

.rooms .thumbnail {
  font-size: 15px;
}

.rooms .thumbnail .caption {
  text-align: center;
}

.rooms .thumbnail .caption p {
  margin-top: 0px;
}

.rooms .thumbnail .caption span {
  color: yellow;
}

.formvali {
  font-size: 15px;
}

.formvali p {
  margin-bottom: 30px;
  margin-top: -20px;
}

.formvali p b {
  font-size: 17px;
}

.formvali img {
  width: 125%;
}

.formvali .form {
  background: #DCDCDC;
  padding: 30px 20px;
  box-shadow: 5px 5px 10px #DCDCCC;
  padding: 10px;
}

.formvali .form label {
  font-size: 13px;
  margin-left: 15px;
}

.formvali .form input {
  width: 300px;
  height: 40px;
  margin-left: 15px;
}

.formvali .text {
  margin-top: 30px;
}

.formvali .text p {
  margin-top: 30px;
}

.formvali .text p h4 b {
  font-size: 15px;
}

.formvali .detail-room ul {
  list-style-type: none;
  padding: 0;
}

.formvali .detail-room li {
  font-size: 23px;
}

.formvali .detail-room p {
  font-size: 20px;
}

.abouts p {
  margin-bottom: 30px;
  margin-top: -20px;
}

.abouts p b {
  font-size: 17px;
}

.abouts .gallery img {
  width: 100px;
  height: 100px;
}

.abouts .aboutstop p {
  font-size: 15px;
  margin-left: 30px;
  margin-top: 30px;
}

.abouts .jpo {
  margin-top: 30px;
}

.abouts .jpo p {
  margin-top: 30px;
}

.abouts .giatri {
  margin-top: 30px;
  /* Style the buttons inside the tab */
  /* Change background color of buttons on hover */
  /* Create an active/current tablink class */
  /* Style the tab content */
  /* Style the close button */
}

.abouts .giatri .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.abouts .giatri .tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.abouts .giatri .tab button:hover {
  background-color: #ddd;
}

.abouts .giatri .tab button.active {
  background-color: #ccc;
}

.abouts .giatri .tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.abouts .giatri .topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.abouts .biet {
  margin-top: 30px;
}

.abouts .biet .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.abouts .biet .active,
.abouts .biet .accordion:hover {
  background-color: #ccc;
}

.abouts .biet .accordion:after {
  content: "+";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.abouts .biet .active:after {
  content: "\2212";
}

.abouts .biet .panel {
  margin-top: -1px;
  font-size: 13px;
  padding: 0 10px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.abouts .biet .panel p {
  padding-top: 20px;
}

.gallery p {
  margin-bottom: 30px;
  margin-top: -20px;
}

.gallery p b {
  font-size: 17px;
}

.gallery img {
  width: 300px;
  height: 170px;
}

.body {
  position: absolute;
  top: -20px;
  left: -20px;
  right: -40px;
  bottom: -40px;
  width: auto;
  height: auto;
  background-image: url("https://r.bstatic.com/images/hotel/max1280x900/923/92341442.jpg");
  background-size: cover;
  -webkit-filter: blur(5px);
  z-index: 0;
}

.grad {
  position: absolute;
  top: -20px;
  left: -20px;
  right: -40px;
  bottom: -40px;
  width: auto;
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
  /* Chrome,Safari4+ */
  z-index: 1;
  opacity: 0.7;
}

.header {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 255px);
  z-index: 2;
}

.header div {
  float: left;
  color: #fff;
  font-family: "Exo", sans-serif;
  font-size: 38px;
  font-weight: 250;
}

.header div span {
  color: #5379fa !important;
}

.login {
  position: absolute;
  top: calc(50% - 85px);
  left: calc(50% - 50px);
  height: 300px;
  width: 350px;
  padding: 10px;
  z-index: 2;
}

.login input[type=text] {
  width: 250px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  color: #fff;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
}

.login input[type=password] {
  width: 250px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  color: #fff;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin-top: 10px;
}

.login input[type=submit] {
  width: 250px;
  height: 35px;
  background: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 2px;
  color: #a18d6c;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 6px;
  margin-top: 10px;
}

.login input[type=submit]:hover {
  opacity: 0.8;
  background: #F5D940;
}

.login input[type=submit]:active {
  opacity: 0.6;
}

.login input[type=text]:focus {
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.9);
}

.login input[type=password]:focus {
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.9);
}

.login input[type=submit]:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

::-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

